.tile {
  max-width: 328px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #ffffff;
  border-radius: 16px;
  text-align: center;
}

.tile-heading {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: top;
  line-height: 32px;
}

.tile-heading__label {
  display: flex;
  margin: 0;
}

.tile-heading__number {
  width: 103px;
  margin: 0;
  color: #ffffff;
  border-radius: 16px 0 16px 0;
}

.tile-heading__status {
  margin-left: 8px;
  font-weight: 500;
}

.tile-content {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  margin: 0 16px;
  line-height: 28px;
}

.tile-content-wrapper {
  width: calc(100% - 16px);
  display: flex;
  justify-content: space-between;
}

.tile-content__captions {
  text-align: left;
}

.tile-content__captions p {
  margin: 0;
}

.tile-content__data {
  width: 182px;
  margin-left: 5px;
  text-align: left;
}

.tile-content__data p {
  min-height: 28px;
  font-weight: 500;
  margin: 0;
}

.tile-delimiter {
  width: 100%;
  border: 1px solid #dbdbdb;
  border-radius: 25px;
}

.tile-text {
  display: flex;
  flex-direction: column;
  position: relative;
  word-wrap: break-word;
  line-height: 22px;
}

.tile-text__content {
  max-height: calc(3 * 1.8em);
  margin: 0;
  text-align: left;
  overflow: hidden;
}

.tile-text__content.folded::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.8em;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}

.tile-text__content.unfolded {
  max-height: none;
  padding-bottom: 5px;
}

.tile-expand__button {
  position: relative;
  bottom: 15px;
  font-size: 14px;
  font-weight: 500;
  color: #e95721;
  background: none;
  border: none;
  cursor: pointer;
}

.tile-expand__button.unfolded {
  margin-top: 20px;
}
